html {
  background-color: black;
  width : 100%;
  overflow: hidden;
  font-family: PT Mono, monaco, monospace, monospace;
  touch-action: manipulation;
}

p, li {
  color: black;
  text-align : center;
}


#gameContainer {
  margin: 0;
  width : 100vw;
  height : 100vh;
  /* overflow: scroll; */
}

#game {
  margin: auto;
  position : relative;
  width: inherit;
  height: inherit;
}


.gameButton {
  color: black;
  position : absolute;
  padding: 0;
  /* font-weight: bolder;
  font-size: 3vmin; */
}


.gameTitle {
  color: red;
  font-weight: bolder;
  font-size: 75%;
  text-decoration: underline;
  -webkit-text-stroke: .5px black;
}



.letter, .keyLetter, .delete, .enter, .reset-confirm, .reset-deny {
  color: rgba(250,250,250,.8);
  font-weight: bolder;
  font-size: 200%;
  -webkit-text-stroke: 1px rgba(50,50,50,.65);
}

.score {
  background-color: black;
  color: rgba(200, 225, 255, 0.95);;
  font-weight: lighter;
  font-size: 150%;
  -webkit-text-stroke: .25px rgba(250,250,250,.15);
}

.console {
  background-color: black;
  color: rgba(200, 225, 255, 0.95);
  font-weight: lighter;
  font-size: 75%;
}

.reset {
  background-color: #cc2020;
  font-size: 75%;
  font-weight: lighter;
}

.reset-confirm {
  background-color: #cc2020;
}

.reset-deny {
  background-color: #34aabc;
}

.reset-confirm-show {
  display: auto;
}

.reset-confirm-hide {
  display: none;
}

.keyLetter {
  background-color: #deca45;
}

.keyLetter:hover {
  background-color: rgba(220, 185, 0, 0.9);
}

.letter {
  background-color: black;
}

.reset-deny:hover{
  background-color: rgba(200, 225, 255, 0.9);
}

.slicer {
  background-color: rgba(69, 187, 25, .4);
  border-radius: 100% / 100%;
}

.slicer:hover {
  background-color: rgba(69, 187, 25, .9);
  border-radius: 33% / 33%;
}

.slicer-hidden {
  display: none;
}

.quadrant-0 {
  background-color: #55ce55;
}
.quadrant-1 {
  background-color: #9978fa;
}
.quadrant-2 {
  background-color: #dd9934;
}
.quadrant-3 {
  background-color: #3366dd;
}

.guessed {
  /* baseline: top; */
  background-color: #deca45;
  padding: 4px;
  padding-top: 8px;
  text-align : center;
  overflow-y: scroll;
  line-height: 80%;
}

.guessed > div {
  padding: 0;
  margin: 0;
}


.tutorial, .subtitle {
  color: black;
  font-size: 1.6vmin;
}

.guessed-prev, .guessed-next {
    background-color: rgba(220, 185, 0, 0.9);
}

.delete {
  background-color: #cc2020;
  /* font-weight: bolder;
  font-size: 200%; */
}

.delete:hover, .reset-confirm:hover {
  background-color: #ff4141;
}

.answer {
  background-color: black;
  color: rgba(200, 225, 255, 0.95);
  font-weight: bolder;
  font-size: 150%;
  -webkit-text-stroke: .25px rgba(50,50,50,.15);
}

.enter {
  /* font-weight: bolder;
  font-size: 200%; */
}

.enter:hover {
  background-color: rgba(69, 187, 25, .9);
}

.credits {
  padding: 0;
  background-color: rgba(200, 225, 255, 0.95);
  font-weight: lighter;
  font-size: 75%;
}

.gameMode {
  background-color: #dedede;
}

.gameMode:hover {
  background-color: #ffabab;
}

.passiveGameMode {
  background-color: #dedede;
}

.activeGameMode {
  background-color: #cc0000;
}

.activeGameMode:hover {
  background-color: #ff2222;
}

.dnp {
  background-color: #cc2020;
  font-weight: bold;
  font-size: 50%;
}

.keyLetter {
  color: black !important;
  font-weight: bolder;
  -webkit-text-stroke: 1px rgba(250,250,250,.75);
}

/* let colorPrimary = "#5838ae";
let colorSecondary = "#ceae23";
let colorDark = "#121212";
let colorLight = "#dedede";
let colorMedium = "#ababab";
let colorUIReset = "#cc2020";
let colorUILight = "#deca45";
let colorUI = "#3499ce";
let colorUIMedium = "#34aabc";
let colorUIDark = "#015589";
let colorConsole = "rgba(200, 225, 255, 0.95)";
let colorHover = "rgba(200, 225, 255, 0.9)";
let colorSlicer = "rgba(69, 187, 25, .8)";
let colorSlicerHover = "rgba(69, 187, 25, .9)"; */
