html {
  background-color: black;
  width : 100%;
  /* overflow: hidden; */
  font-family: PT Mono, monaco, monospace, monospace;
}

p, li {
  color: black;
  text-align : center;
}


#gameContainer {
  margin: none;
  width : 100vw;
  height : 100vh;
  /* overflow: scroll; */
}

#game {
  margin: auto;
  position : relative;
  width: inherit;
  height: inherit;
}


.gameButton {
  color: black;
  position : absolute;
  padding: 0;
  /* font-weight: bolder; */
  /* font-size: 3vmin; */
}

.gameButton :hover {
  background-color: "#898989";
}

.guessed  {
  padding: 2px;
  text-align : center;
  overflow-y: scroll;
}

.gameTitle {
  color: red;
  font-weight: bolder;
  font-size: 150%;
  text-decoration: 1.5px underline black ;
  -webkit-text-stroke: .5px black;
}

.guessed p {
  color: black;
  font-size: 2vmin;
}

.letter, .keyLetter, .reset, .delete, .enter, {
  color: rgba(250,250,250,.8);
  font-weight: bolder;
  font-size: 200%;
  -webkit-text-stroke: 2px rgba(50,50,50,.85);
}

.score {
  color: rgba(250,250,250,.85);
  font-weight: lighter;
  font-size: 150%;
  -webkit-text-stroke: 1px rgba(250,250,250,.85);
}

/* .keyLetter {
  font-weight: bolder;
  font-size: 200%;
} */


.console {
  font-weight: lighter;
  font-size: 75%;
}


.answer {
  color: rgba(250,250,250,.8);
  font-weight: bolder;
  font-size: 150%;
  -webkit-text-stroke: 2px rgba(50,50,50,.85);
}

.medText{
}

.slicer {
  border-radius: 100% / 100%;
}

.slicer-hidden {
  display: none;
}

.console {
  /* font-weight: 100; */
}


/*
.delete {
  font-weight: bolder;
  font-size: 200%;
}

.enter {
  font-weight: bolder;
  font-size: 200%;
} */

.gameMode {
  font-weight: lighter;
  font-size: 50%;
}

.credits {
  font-weight: lighter;
  font-size: 50%;
}

.rg {
  font-weight: bold;
  font-size: 50%;
}
